*,
:after,
:before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
button {
  background: none;
  font-weight: 500;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: all 0.2s linear;
}
.auth-section form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  margin: 25px auto 0;
}
form {
  display: block;
  width: 100%;
  padding: 2em;
}
.auth-section h2 {
  width: 100%;
  font-size: 1.35em;
  display: block;
  background: #2a2a2a;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  padding: 0.75em 1em 0.75em 1.5em;
  margin: 0;
  font-weight: 200;
}
input {
  display: block;
  margin: auto auto;
  width: 100%;
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
}
input:focus {
  outline: none;
}
.auth-section .action-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.auth-section .btn {
  display: inline-block;
  background: #1fb5bf;
  border: 1px solid #1fb5bf;
  padding: 0.5em 2em;
  color: white;
  box-shadow: inset 0px 1px 0px fadeout(white, 80%);
}
.auth-section .btn:hover {
  background: #1fb5bf;
}
.auth-section .btn:active {
  background: #1fb5bf;
  box-shadow: inset 0px 1px 1px fadeout(black, 90%);
}
.auth-section .btn:focus {
  outline: none;
}
.redirect-to-auth {
  color: #1fb5bf;
  line-height: 0.5em;
  text-decoration: none;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.redirect-to-auth:hover {
  color: #1fb5bf;
}
.error-text {
  margin-top: 5px;
  color: rgba(228, 61, 32, 0.972);
}

/* Home Page */
section.site-wrapper {
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
}
.open nav.site-nav {
  height: 100%;
  width: 250px;
}
nav.site-nav {
  background: #fff;
  width: 55px;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  transition: all 0.2s linear;
}
nav.site-nav .inner-nav {
  width: 100%;
}
nav.site-nav .logo-in {
  padding: 10px;
  background: #334aa6;
  position: relative;
  height: 50px;
}
nav.site-nav .logo-in a {
  font-size: 22px;
  color: #fff;
}
nav.site-nav .menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav.site-nav .menu-list li {
  padding: 5px;
}
nav.site-nav .menu-list a.active button,
nav.site-nav .menu-list li.active button {
  background: #334aa6;
  color: #fff;
}
nav.site-nav .menu-list li button {
  color: #555;
  text-align: left;
  width: 100%;
  padding: 10px 8px;
  border-radius: 5px;
}
nav.site-nav.open .menu-list li button .icn-img {
  text-align: center;
}
nav.site-nav .menu-list li button .icn-img {
  width: 30px;
  font-size: 18px;
  line-height: 10px;
  text-align: center;
  float: left;
}
.open nav.site-nav .menu-list li button .text {
  font-size: 15px;
  white-space: nowrap;
  opacity: 1;
  padding-left: 5px;
}
nav.site-nav .menu-list a.active button .text,
nav.site-nav .menu-list li.active button .text {
  color: #fff;
}
nav.site-nav .menu-list li button .text {
  opacity: 0;
  white-space: nowrap;
  color: #555;
  font-size: 15px;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  display: inline-block;
}
nav.site-nav .log-out {
  width: 100%;
  margin-top: auto;
}
nav.site-nav .log-out button {
  font-size: 16px;
  color: #555;
  background: #f1f1f1;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  padding: 10px 16px;
  border: 0;
  box-shadow: none;
  outline: none;
}
.toggle-icon {
  height: 100%;
  display: flex;
  align-items: center;
}
.toggle-icon ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 20px;
  cursor: pointer;
}
.toggle-icon ul li {
  flex: 0 0 100%;
  max-width: 100%;
  height: 2px;
  background-color: #fff;
  list-style: none;
}
.toggle-icon ul li:not(:last-child) {
  margin-bottom: 4px;
}
/* main */
section.site-wrapper .site-content {
  background: #f4f6f9;
  -webkit-flex: 1 1;
  flex: 1 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: calc(100% - 250px);
}
.site-content .top-header {
  background: #fff;
  border-left: 1px solid #fff;
  padding: 14px 20px;
  background: #334aa6;
  height: 50px;
}
section.site-wrapper .content-wrapper {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding: 15px;
}
.content-wrapper {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding: 15px;
  height: calc(100vh - 50px);
  overflow-y: auto;
}
section.site-wrapper .content-wrapper h1 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 15px;
}
.content-wrapper .actions-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.content-wrapper .actions-wrapper .choose-category-type-wrapper {
  flex: 0 0 15%;
  max-width: 15%;
  cursor: pointer;
}
.react-select-container {
  cursor: pointer;
}
.react-select-container .react-select__menu {
  z-index: 11;
}
.react-select-container .react-select__option {
  cursor: pointer;
}
tbody tr.MuiTableRow-root:not([index]) {
  display: none !important;
}
.create-action-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
.form-group label {
  display: inline-flex;
}
.form-group label input[type="checkbox"] {
  display: inline-block;
  width: 16px;
  margin-right: 8px;
}
.form-group .spinning-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
